html
  head
    title= title
    link(rel="shortcut icon" type="image/x-icon" href="https://d3k90kvix375hb.cloudfront.net/assets/favicon.ico")
    style(type="text/css").
      body {
        font-family: sans-serif;
        background-color: #eee;
        text-align: center;
      }
      h1 { color: #211746; }
      p { color: #4A90E2; }
      ul { list-style-type: none; }
      li { font-size: 2em; }
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
  body
    ul
      li
        a(href='/waterfall') Tweet Waterfall
      li
        a(href='/bubbles') Tweet Bubble Chart
